<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="firstName"
        type="text"
        class="w-full"
        formControlName="firstName"
      />
      <label for="firstName"
        >{{ 'auth.form.firstName.label' | translate }}</label
      >
    </p-ifta-label>
  </div>
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="lastName"
        type="text"
        class="w-full"
        formControlName="lastName"
      />
      <label for="lastName">{{ 'auth.form.lastName.label' | translate }}</label>
    </p-ifta-label>
  </div>
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="email"
        type="email"
        class="w-full"
        formControlName="email"
      />
      <label for="email">{{ 'auth.form.email.label' | translate }}</label>
    </p-ifta-label>
  </div>
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="password"
        type="password"
        class="w-full"
        formControlName="password"
      />
      <label for="password">{{ 'auth.form.password.label' | translate }}</label>
    </p-ifta-label>
  </div>
  <div class="m-6">
    <button
      pButton
      type="submit"
      variant="outlined"
      class="w-full"
      size="large"
      [loading]="isLoading()"
      [disabled]="isLoading()"
      [severity]="loggedSuccess()"
    >
      {{ 'auth.buttons.register.label' | translate}}
    </button>
  </div>
  <div class="m-6">
    <button
      pButton
      type="submit"
      variant="outlined"
      class="w-full"
      size="large"
      [severity]="'secondary'"
      (click)="goLogin()"
    >
      {{ 'auth.buttons.login.label' | translate}}
    </button>
  </div>
</form>
