<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="email"
        type="email"
        class="w-full"
        formControlName="email"
      />
      <label for="email">{{ 'auth.form.email.label' | translate }}</label>
    </p-ifta-label>
  </div>
  <div class="m-6">
    <p-ifta-label>
      <input
        pInputText
        id="password"
        type="password"
        class="w-full"
        formControlName="password"
      />
      <label for="password">{{ 'auth.form.password.label' | translate }}</label>
    </p-ifta-label>
  </div>
  <div class="m-6">
    <button
      pButton
      type="submit"
      variant="outlined"
      class="w-full"
      size="large"
      [label]="'auth.buttons.login.label' | translate"
      [loading]="isLoading()"
      [disabled]="isLoading()"
      [severity]="loggedSuccess()"
    ></button>
  </div>
  <div class="m-6">
    <button
      pButton
      type="submit"
      variant="outlined"
      class="w-full"
      size="large"
      [severity]="'secondary'"
      (click)="goRegister()"
      [label]="'auth.buttons.register.label' | translate"
    ></button>
  </div>
</form>
